<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
            <nav class="nav-links">
                {% for item in nav_items %}
                    <a href="{{ item.url }}" {% if item.is_current %}class="current-page"{% endif %}>{{ item.name }}</a>
                {% endfor %}
            </nav>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/zidanni.jpg">
        </div>
        <h1>{{ title }}</h1>
    </div>

    <div class="about-me">
        <div class="about-content">
            <h2>About Me</h2>
            <p>
                Hello! I'm Zidanni Clerigo, an incoming second year Computer Science student at Stevens Institute of Technology. I'm super passionate about building projects and pitching them to other people! Deployment and maintenance has always been a roadblock for me so I'm very excited to be in the Production Engineering track. 
            </p>
        </div>
    </div>

    <div class="map-section">
        <div class="map-content">
            <h2>Places I've Visited</h2>
            <div class="map-container">
                <img src="./static/img/zidanni-map.jpg">
            </div>
        </div>
    </div>
</body>
</html>